body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

#canvas {
  flex: 1 0 auto;
  position: relative;
}

#canvas > div {
  position: absolute !important;
}

#panel {

  padding: 15px;

  > * {
    margin-right: 15px;
  }

}